<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>

<div class="grid--content">
    <div class="card">
        <div class="grid-two-col">
            <div class="grid--column-1">
                {{#if experience.id}}
                    <div class="exp-form-header">
                        <h2>Experience</h2>
                        <a id="delete-btn" class="btn"><i class="far fa-trash-alt"></i> Delete it</a>
                    </div>
                {{else}}
                    <h2>Add A New Experience</h2>
                {{/if}}
                <input type="hidden" id="experience-id" value="{{experience.id}}">

                <input type="text" id="name" value="{{experience.name}}" placeholder="Name Your Experience...">

                <select id="category">
                    <option value="">Select Experience Category</option>
                    {{#each metadata.categories}}
                        <option value="{{id}}"
                        {{#ifEquals id ../experience.CategoryId}}
                            selected
                        {{/ifEquals}}
                        >{{name}}</option>
                    {{/each}}
                </select>
                
                {{!-- Picture --}}
                <img src="./images/uploads/{{experience.image}}" onerror="this.onerror=null; this.src='images/toronto.jpg'" id="picture" class="exp-form-image">
                {{!-- File upload form --}}
                <form action="//api/uploadfile" method="post" id="upload-form">
                    <label for="file" class="input-file">
                        <i class="fas fa-cloud-upload-alt"></i> Upload a Picture
                        <input type="file" name="file" id="file" />
                    </label>
                </form>
                {{!-- Hidden image temp name --}}
                <input type="hidden" id="image" value="{{experience.image}}">

                <!-- Location.............................. -->
                <input type="text" value="{{experience.location}}" id="location1" autocomplete="off" placeholder="Main location" />

                <!-- Location 2-->
                <input type="text" value="{{experience.location2}}" id="location2" autocomplete="off" placeholder="Other optional location" />

                <!-- Location 3-->
                <input type="text" value="{{experience.location3}}" id="location3" autocomplete="off" placeholder="Other optional location" />
                
            </div>
            <div class="grid--column-2">
                <textarea rows="10" id="description" placeholder="Describe Your Experience">{{experience.description}}</textarea>
            </div>
        </div>
        <br>

        <!-- error message.............................. -->
        <p class="error-message" id="error-message"></p>

        <!-- submit button.............................. -->
        <a class="btn btn__large" id="submit-btn">Submit</a>
    </div>
</div>
<!-- Ajax form library -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<script src="js/experience-form.js"></script>