<div class="grid--sidebar">
  <h1>Experience Toronto!</h1>
  <img src="{{metadata.iconImageSrc}}" alt="" class="block__centered icon icon__large">
  {{#each metadata.buttons}}
  <a href="{{link}}" class="btn">{{name}}</a>
  {{/each}}
</div>

<!-- // first look -->
<div class="grid--content">

  <div class="card">
    <h2>Browse the most popular experiences</h2>
  </div>

  <div class="cardbox desktop-only">
    {{#each metadata.quotes}}
    <div class="card card__small">
      <i class="fas fa-quote-left fa-2x"> </i>
      <blockquote class='blockquote'>
        <p>{{text}}</p>
        <p class="blockquote-author">- {{author}}</p>
      </blockquote>
    </div>
    {{/each}}
  </div>

  <div class="card">
    <h3>Join Our Newsletter For More Experiences!</h3>
    <input type="text" class="form-control valid" placeholder="Your Email">
    <a class="btn btn__large">Join Now</a>
  </div>
</div>
