<!-- // first look -->
<div class="grid--content">

  {{#each categories}}
  <div class="card">
    <h2>Browse {{name}} Experiences</h2>

    <div class="slide">
      {{#each elements}}
      <div class="carousel--element grow-in">
        <div class="carousel--element--header">
          <h3>{{name}}</h3>
          <p>By: {{User.firstname}} {{User.lastname}}</p>
        </div>
        <img src="images/uploads/{{image}}" onerror="this.onerror=null; this.src='images/toronto.jpg'" alt="">
        <div class="flex badge-box">
          <div class="carousel--element--badge">
            <h4>User's Rating:</h4>
            <a href="/users/{{UserId}}" style="display: contents;"><p>{{User.score}}</p></a>
          </div>
          <div class="carousel--element--badge">
            <a href="/experiences/{{id}}"><h4>Read More</h4></a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}

  <div class="cardbox desktop-only">
    {{#each metadata.quotes}}
    <div class="card card__small">
      <i class="fas fa-quote-left fa-2x"> </i>
      <blockquote class='blockquote'>
        <p>{{text}}</p>
        <p class="blockquote-author">- {{author}}</p>
      </blockquote>
    </div>
    {{/each}}
  </div>

  <div class="card">
    <h3>Join Our Newsletter For More Experiences!</h3>
    <input type="text" class="form-control valid" placeholder="Your Email">
    <a class="btn btn__large">Join Now</a>
  </div>
</div>