{{!-- <link rel="stylesheet" href="css/algolia.css" type="text/css"> --}}
<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>

<div class="grid--sidebar">
    <a class="btn btn__large" href="/">{{metadata.homepageButtonText}}</a>

    <div class="desktop-only">
        <img src="{{metadata.iconImageSrc}}" class="block__centered icon icon__large" />

        <p>{{metadata.description}}</p>
    </div>
</div>
<div class="grid--content">
    <div class="card">
        <form action="/api/experiences" id="experience-form" method="post" enctype="multipart/form-data">
            <div class="grid-two-col">
                <div class="grid--column-1">
                    <h2>Add A New Experience</h2>

                    <input type="text" type="search" name="name" placeholder="Name Your Experience...">

                    <input type="file" name="image" />

                    <label for="category">Select Experience Category:</label>
                    <select id="category" name="CategoryId">
                        {{#each metadata.categories}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <!-- Location.............................. -->
                    <input type="text" name="location" id="location1" placeholder="First Location" />

                    <!-- Location 2-->
                    <input type="text" name="location2" id="location2" placeholder="Second Location" />

                    <!-- Location 3-->
                    <input type="text" name="location3" id="location3" placeholder="Third Location" />

                    <!-- New Location.............................. -->
                    <a href="#" class="btn" id="add-location"><i class="fas fa-plus"></i> Add a new location</a>
                </div>
                <div class="grid--column-2">
                    <textarea rows="10" name="description" id="body" placeholder="Describe Your Experience"></textarea>
                </div>
            </div>
            <br>

            <!-- error message.............................. -->
            <p class="error-message" id="error-message"></p>

            <!-- submit button.............................. -->
            <button type="submit" class="btn btn__large" id="submit-btn">Submit</button>
        </form>
    </div>
</div>
<!-- Ajax form library -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<script src="./js/new-experience.js"></script>