<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>

<div class="grid--sidebar">
    <div class="flex flex-start">
        <h1 id="menu" class="fas fa-bars mobile-only"></h1>
        <h1 class="title">Experience Toronto!</h1>
        <h1 class="fas fa-bars mobile-only invisible"></h1>
    </div>
    <img src="{{metadata.iconImageSrc}}" alt="" class="block__centered icon icon__large desktop-only">
    <div id="nav" class="desktop-only">
        {{#each metadata.buttons}}
        <a href="{{link}}" id="{{id}}" class="btn">{{name}}</a>
        {{/each}}
    </div>
</div>
<div class="grid--content">
    <div class="card">
        <div class="grid-two-col">
            <div class="grid--column-1">
                <h2>Add A New Experience</h2>
                <input type="hidden" id="experience-id" value="{{experience.id}}">

                <input type="text" id="name" value="{{experience.name}}" placeholder="Name Your Experience...">

                <img src="./images/uploads/{{experience.image}}" onerror="this.onerror=null; this.src='images/toronto.jpg'" id="picture" width="150" height="100">

                {{!-- Hide the temp name of the image --}}
                <input type="hidden" id="image" value="{{experience.image}}">

                {{!-- File upload form --}}
                <form action="/api/uploadfile" method="post" id="upload-form">
                    <input type="file" name="file" id="file" />
                </form>

                <label for="category">Select Experience Category:</label>
                <select id="category">
                    {{#each metadata.categories}}
                        <option value="{{id}}"
                        {{#ifEquals id experience.CategoryId}}
                            selected
                        {{/ifEquals}}
                        >{{name}}</option>
                        
                    {{/each}}
                </select>
                <!-- Location.............................. -->
                <input type="text" value="{{experience.location}}" id="location1" placeholder="Main location" />

                <!-- Location 2-->
                <input type="text" value="{{experience.location2}}" id="location2" placeholder="Other Location" />

                <!-- Location 3-->
                <input type="text" value="{{experience.location3}}" id="location3" placeholder="Other Location" />

                <!-- New Location.............................. -->
                <a class="btn" id="add-location"><i class="fas fa-plus"></i> Add a new location</a>
            </div>
            <div class="grid--column-2">
                <textarea rows="10" id="description" placeholder="Describe Your Experience">{{experience.description}}</textarea>
            </div>
        </div>
        <br>

        <!-- error message.............................. -->
        <p class="error-message" id="error-message"></p>

        <!-- submit button.............................. -->
        <a class="btn btn__large" id="submit-btn">Submit</a>
    </div>
</div>
<!-- Ajax form library -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<script src="./js/new-experience.js"></script>