
<div class="grid--content">
    <div class="card">
        <h1>{{user.firstname}} {{user.lastname}}</h1>
        <h5>Current Score: {{user.score}}</h5>
        <h5>Email: {{user.email}}</h5>

        <div class="slide">
            {{#each user.Experiences}}
            <div class="carousel--element grow-in">
                <div class="carousel--element--header">
                    <h3>{{name}}</h3>
                </div>
                <img src="images/uploads/{{image}}" onerror="this.onerror=null; this.src='images/toronto.jpg'" alt="">
                <div class="flex badge-box">
                    <div class="carousel--element--badge">
                        <a href="/experiences/{{id}}">
                            <h4>Edit</h4>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>